# Language: C
BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
Language: Cpp
PointerAlignment: Left
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments: false
AlignOperands: true
AlignEscapedNewlinesLeft: true
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: false
BinPackParameters: false
BreakBeforeBraces: Custom
BraceWrapping:
    AfterCaseLabel: true
    AfterControlStatement: Never
    AfterEnum: false
    AfterFunction: false
    AfterStruct: false
    AfterExternBlock: true
    BeforeElse: false
    BeforeWhile: false

BinPackParameters: true
ColumnLimit: 80
IndentCaseLabels: true
SpaceBeforeParens: ControlStatements
SpacesBeforeTrailingComments: 1
SpacesInCStyleCastParentheses: false
